/* src/components/Promotions/Promotions.css */
.promotions {
    display: flex;
    justify-content: center; /* Alinha os itens ao centro */
    flex-wrap: wrap; /* Permite que os itens se movam para a linha seguinte se necessário */
    gap: 20px; /* Espaçamento entre os itens */
    padding: 10px;
    width: 100%; /* Ajusta a largura do contêiner para 100% */
    margin-top: 50px; /* Adiciona espaço acima da seção de categorias */

  }
  
  .promotions h2 {
    text-align: center; /* Centraliza o texto do título */
    width: 100%; /* Garante que o título ocupe toda a largura do contêiner */
    margin-bottom: 20px; /* Adiciona um espaço entre o título e os itens */
    font-size: 21px; /* Ajuste do tamanho da fonte para dar mais destaque */
    font-weight: normal; /* Garante que o texto não esteja em negrito */
    font-family: 'Times New Roman', serif;
    color: #c77dfa;
    margin-left: 15px; /* Move o título para a esquerda */
  
  }
  
  .promotions-container {
    display: flex;
    justify-content: center;
    gap: 20px; /* Espaçamento entre as imagens */
  }
  
  .promotion-img {
    width: 300px; /* Ajuste a largura das imagens conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 8px;
    object-fit: cover; /* Ajusta a imagem para cobrir o contêiner mantendo a proporção */
  }
  